@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;1,400&display=swap');

html{
    font-family: 'Red Hat Display', sans-serif;
}
*{
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}
:root{
    --pale-blue:hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue:hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}
body{
    min-height: 100vh;
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: var(--pale-blue);
}


.card{
    max-width: 450px;
    background-color:var(--very-pale-blue);
    border-radius: 17px;
    overflow: hidden;
}
.whole-card{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-bottom{
    padding: 30px;
}
.title{
    font-size: 180%;
    color: var(--dark-blue);
    font-weight: 900;
    text-align:center;
}
.sub{
    max-width: 350px;
    margin:25px auto;
    text-align: center;
    font-weight: 500;
    font-size: 110%;
    color: var(--desaturated-blue);
    word-spacing: 2px;
    line-height: 28px;
}
.plan-box{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top: 45px;
}
.price{
    margin-left:-60px;
}
.price h2{
    color: var(--dark-blue);
    font-weight: 900;
    font-size: 110%;
    margin-bottom: 7px;
}
.price p{
    color: var(--desaturated-blue);
    font-weight: 500;
}
.plan-right a{
    font-weight: 900;
    font-size: 90%;
    transition: 0.3s;
}
.plan-right a:hover{
    color:hsl(245, 65%, 61%);
    text-decoration: none;
}

.btn a{
    display:inline-block;
    width: 90%;
    margin-left: 5%;
}
.proceed-btn{
    
    
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: var(--bright-blue);
    padding: 13px 0;
    border-radius: 10px;
    font-weight: 900;
    margin-top: 56px;
    transition: 0.3s;
    box-shadow: var(--pale-blue) 0px 14px 28px, var(--desaturated-blue) 0px 10px 10px;
}
.proceed-btn:hover{
    background-color:hsl(245, 65%, 61%);
}
.cancel-btn{
   margin-top: 35px;
   text-align: center;
   text-decoration: none;
   font-weight: 900;
   color: var(--desaturated-blue);
}
.cancel-btn:hover{
    color: var(--dark-blue);
}
@media  screen and (max-width:425px) {
    body{
        background-image: url(images/pattern-background-mobile.svg);
        font-size: 14px;
    }
    .card{
        max-width: 88%;
    }
    .title{
        font-size: 140%;
    }
    .sub{
        font-size: 15px;
    }
    .plan-box{
        display: flex;
        justify-content: space-between;
    }
    .proceed-btn{
        font-size: 12px;
    }
    .cancel-btn{
        font-size: 13px;
    }
}